* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: HATTEN;
  font-style: normal;
  font-weight: 100;
  src: url(../font/HATTEN.TTF);
}

body {
  background: #fff no-repeat;
}

/* Seccion de barra de navegacion */
.talleres_container {
  width: 100%;
  padding: 5px 5px 0 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  background-color: red;

  position: relative;

  & .talleres_container_all {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    & .talleres_container_logo {
      & .talleres_logo {
        border-radius: 50%;

        & .talleres_logo_image {
          width: 70px;
          border-radius: 50%;
          border: 2px solid black;
        }
      }
    }

    & .talleres_nav_list_conatiner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & .talleres_title {
        width: 100%;
        font-size: 13px;
        text-align: center;
        font-weight: bold;
      }

      & .talleres_list_container {
        display: flex;
        gap: 10px;
        display: none;

        & .talleres_list_item {
          transition: 0.3s;

          & .talleres_list_links {
            color: black; /* Este cambiara a negro */
            text-decoration: none;
            transition: 0.3s;

            &:hover {
              text-decoration: underline;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }

  & .talleres_nav_bar_button_container {
    & .talleres_nav_bar_button {
      font-size: 30px;
      transition: 0.3s;
      color: #fff;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }

  & .talleres_nav_bar_container_active {
    height: 170px !important;
  }

  & .talleres_nav_bar_container {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0;
    transition: 0.3s;

    position: absolute;
    right: 0px;
    top: 83px;
    z-index: 1000;

    background: red;

    & .talleres_second_list_container {
      width: 200px;
      height: 150px;

      padding: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      & .talleres_second_list_item {
        text-align: center;
        width: 100%;
        padding: 5px 0;

        & .talleres_second_list_links {
          text-align: center;
          color: white;
          text-decoration: none;
          transition: 0.3s;
          width: 100%;
          font-size: 15px;

          &:hover {
            text-decoration: underline;
            font-size: 16px;
          }
        }
      }
    }
  }
}

/* Seccion de carrusel */
.talleres_carrusel_container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  & .talleres_carrusel {
    width: 100%;

    & .talleres_carrusel_slide {
      & .carousel-inner {
        & .carousel-item {
          width: 100%;

          & .talleres_carrusel_image {
            width: 100%;
            height: 180px;
          }
        }
      }
    }
  }
}

/* Seccion de contacto */
.talleres_contacto {
  color: #000;
  background: red;
  /*background: linear-gradient(150deg, red, #403E3F);*/
  height: 30%;
  width: 100%;
  text-align: center;
}

.talleres_contacto h2 {
  font-size: 20px;
}

.talleres_contacto p {
  margin-bottom: 0;
  font-size: 13px;
}

/*Seccion del footer*/
.talleres_footer {
  display: inherit;
  bottom: 0px;
  background-color: red;
  color: #000;
  width: 100%;
  font-size: 8px;
  padding: 10px 0px;
  text-align: center;
  z-index: 5;
  font-weight: bold;

  & .talleres_container_icons {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
  }

  & .talleres_icon {
    color: #1f618d;
    cursor: pointer;
    font-size: 25px;
  }

  & .talleres_icon:nth-child(2) {
    color: #239b56;
    cursor: pointer;
    font-size: 25px;
  }

  & .talleres_icon:hover {
    transition: 0.3s;
    transform: scale(1.1);
  }
  #what {
    display: none;
  }

  /* NO usar ID como referencia para eso usar class */
  #face {
    display: none;
  }
}

/* Seccion de Quienes somos*/
.talleres_container_introduccion {
  width: 100%;
  border: 3px solid black;

  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  gap: 10px;

  & .card-title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
  }
}
.talleres_container_introduccion h6 {
  font-size: 15px;
  text-align: justify;
}

/*Seccion de servicios*/
.talleres_titulo_producto h1 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin: 12px 0px;
}

.talleres_titulo_producto h3 {
  font-size: 15px;
  text-align: center;
}
.img_before {
  & .slim-before-caption {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 0px 50px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
  }
}
.before_after_slider {
  & .img_after {
    & .slim-after-caption {
      display: flex;
      align-items: center;
      justify-content: right;
      margin: 0px 50px;
      font-weight: bold;
    }
  }
}

/*Seccion de Tablet*/
@media (min-width: 600px) {
  .talleres_container {
    padding: 5px 10px 0px 10px;
    gap: 1rem;
    & .talleres_container_all {
      gap: 1rem;
      & .talleres_container_logo {
        & .talleres_logo {
          & .talleres_logo_image {
            width: 90px;
            border-radius: 50%;
            border: 2px solid black;
          }
        }
      }
      & .talleres_nav_list_conatiner {
        & .talleres_title {
          font-size: 20px;
        }
      }
    }
  }
  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20rem;
  }
}
/*Seccion de Ordenador*/

@media (min-width: 1024px) {
  .talleres_container {
    padding: 5px 10px 0px 10px;
    gap: 4rem;
    & .talleres_container_all {
      gap: 2rem;
      & .talleres_container_logo {
        & .talleres_logo {
          & .talleres_logo_image {
            width: 120px;
            border-radius: 50%;
            border: 2px solid black;
          }
        }
      }
      & .talleres_nav_list_conatiner {
        & .talleres_title {
          font-size: 35px;
        }
      }
    }
  }
  & .talleres_carrusel_container {
    & .talleres_carrusel {
      & .talleres_carrusel_slide {
        & .carousel-inner {
          & .carousel-item {
            & .talleres_carrusel_image {
              width: 100%;
              height: 300px;
            }
          }
        }
      }
    }
  }
  /*Seccion de contacto*/
  & .talleres_contacto {
    color: #000;
    background: red;
    /*background: linear-gradient(150deg, red, #403E3F);*/
    height: 30%;
    width: 100%;
    text-align: center;
  }
  & .talleres_contacto h2 {
    font-size: 40px;
  }

  & .talleres_contacto p {
    margin-bottom: 0;
    font-size: 20px;
  }
  /*Seccion de footer*/
  & .talleres_footer {
    display: inherit;
    bottom: 0px;
    background-color: red;
    color: #000;
    width: 100%;
    font-size: 12px;
    padding: 10px 0px;
    text-align: center;
    z-index: 5;
    font-weight: bold;

    & .talleres_container_icons {
      display: flex;
      gap: 2rem;
      align-items: center;
      justify-content: center;
    }

    & .talleres_icon {
      color: #1f618d;
      cursor: pointer;
      font-size: 30px;
    }

    & .talleres_icon:nth-child(2) {
      color: #239b56;
      cursor: pointer;
      font-size: 30px;
    }

    & .talleres_icon:hover {
      transition: 0.3s;
      transform: scale(1.1);
    }
  }
  /*Seccion de titulo*/
  & .talleres_titulo_producto h1 {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 12px 0px;
  }

  & .talleres_titulo_producto h3 {
    font-size: 20px;
    text-align: center;
  }
  & .before_after_slider {
    & .img_after {
      margin: 0px -10px;
      height: 210px;

      & .slim-after-caption {
        display: flex;
        align-items: center;
        justify-content: right;
        margin: 0px 200px;
        font-weight: bold;
      }
    }
    & .img_before {
      width: 100%;

      & .slim-before-caption {
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 0px 200px;
        text-decoration: none;
        font-weight: bold;
        color: #000;
      }
    }
  }
}

/* Esta es la seccion del almacen */
.almacen_cards_container {
  width: 100%;
  padding: 30px;
  
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  align-items: center;
  justify-content: center;
}
