* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

@font-face {
  font-family: HATTEN;
  font-style: normal;
  font-weight: 100;
  src: url(../font/HATTEN.TTF);
}

body {
  background: #fff no-repeat;
}

/* Seccion de barra de navegacion */
.talleres_container {
  width: 100%;
  padding: 5px 5px 0 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  background-color: red;

  position: relative;

  & .talleres_container_all {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;

    & .talleres_container_logo {
      & .talleres_logo {
        border-radius: 50%;

        & .talleres_logo_image {
          width: 70px;
          border-radius: 50%;
          border: 2px solid black;
        }
      }
    }

    & .talleres_nav_list_conatiner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      & .talleres_title {
        width: 100%;
        font-size: 13px;
        text-align: center;
        font-weight: bold;
      }

      & .talleres_list_container {
        display: flex;
        gap: 10px;
        display: none;

        & .talleres_list_item {
          transition: 0.3s;

          & .talleres_list_links {
            color: black; /* Este cambiara a negro */
            text-decoration: none;
            transition: 0.3s;

            &:hover {
              text-decoration: underline;
              transition: 0.3s;
            }
          }
        }
      }
    }
  }

  & .talleres_nav_bar_button_container {
    & .talleres_nav_bar_button {
      font-size: 30px;
      transition: 0.3s;
      color: #fff;

      &:hover {
        transform: scale(1.1);
        cursor: pointer;
      }
    }
  }

  & .talleres_nav_bar_container_active {
    height: 170px !important;
  }

  & .talleres_nav_bar_container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 0;
    transition: 0.3s;

    position: absolute;
    right: 0px;
    top: 83px;
    z-index: 1000;

    background: red;

    & .talleres_second_list_container {
      width: 200px;
      height: 150px;

      padding: 0;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
      & .talleres_second_list_item {
        text-align: center;
        width: 100%;
        padding: 5px 0;

        & .talleres_second_list_links {
          text-align: center;
          color: white;
          text-decoration: none;
          transition: 0.3s;
          width: 100%;
          font-size: 15px;

          &:hover {
            text-decoration: underline;
            font-size: 16px;
          }
        }
      }
    }
  }
}

/* Seccion de carrusel */
.talleres_carrusel_container {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  & .talleres_carrusel {
    width: 100%;

    & .talleres_carrusel_slide {
      & .carousel-inner {
        & .carousel-item {
          width: 100%;

          & .talleres_carrusel_image {
            width: 100%;
            height: 180px;
          }
        }
      }
    }
  }
}

/* Este se borrara */
section .talleres_map {
  border: 1px solid red !important;
  display: none;
}
